In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
from plotly import __version__
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import cufflinks as cf
# For Notebooks
init_notebook_mode(connected=True)
# For offline use
cf.go_offline()

In [17]:
df = pd.read_csv('AccountTransaction.csv',parse_dates=['Date'])

In [18]:
df.head()

,Date,Transaction,Currency,Deposit,Withdrawal,Closing Balance
0,2023-04-13,IBFT 13/04/2023 627873 HASHIM KHAN 0118010323...,PKR,"10,000.00",NaN,0
1,2023-04-13,DC TXN PKR 1943.00 ON 09/APR PUNJAB CASH & CAR...,PKR,NaN,"1,943.00",0
2,2023-12-04,ATM WDR AT 0569 19:09:54 5311990000091301/3102...,PKR,NaN,"5,000.00","1,286,387.05"
3,2023-11-04,IBFT 11/04/2023 63939000000 ARIF NAWAZ 9234728...,PKR,"13,000.00",NaN,"1,291,387.05"
4,2023-10-04,ATM WDR AT 0322 21:22:23 5311990000091301/7379,PKR,NaN,"5,000.00","1,278,387.05"

In [20]:
new_df = df.fillna(0)
new_df

,Date,Transaction,Currency,Deposit,Withdrawal,Closing Balance
0,2023-04-13,IBFT 13/04/2023 627873 HASHIM KHAN 0118010323...,PKR,"10,000.00",0,0
1,2023-04-13,DC TXN PKR 1943.00 ON 09/APR PUNJAB CASH & CAR...,PKR,0,"1,943.00",0
2,2023-12-04,ATM WDR AT 0569 19:09:54 5311990000091301/3102...,PKR,0,"5,000.00","1,286,387.05"
3,2023-11-04,IBFT 11/04/2023 63939000000 ARIF NAWAZ 9234728...,PKR,"13,000.00",0,"1,291,387.05"
4,2023-10-04,ATM WDR AT 0322 21:22:23 5311990000091301/7379,PKR,0,"5,000.00","1,278,387.05"
...,...,...,...,...,...,...
190,2022-10-21,ATM CHARGES AT TEL 12:28:14 5311990000091301,PKR,0,23.44,"961,290.47"
191,2022-10-21,ATM WDR AT 0142 12:28:14 5311990000091301/0302...,PKR,0,"5,000.00","961,313.91"
192,2022-10-18,DC TXN PKR 1069.00 ON 12/OCT DVAGO ...,PKR,0,"1,069.00","966,313.91"
193,2022-10-17,IBFT 17/10/2022 63939000000 ARIF NAWAZ 9234728...,PKR,"16,000.00",0,"967,382.91"
194,2022-10-17,IBANKING TRF TO 01718464501,PKR,0,"10,000.00","951,382.91"

In [25]:
df['month'] = df['Date'].apply(lambda time: time.month)
df.head(50)

,Date,Transaction,Currency,Deposit,Withdrawal,Closing Balance,month
0,2023-04-13,IBFT 13/04/2023 627873 HASHIM KHAN 0118010323...,PKR,"10,000.00",NaN,0,4
1,2023-04-13,DC TXN PKR 1943.00 ON 09/APR PUNJAB CASH & CAR...,PKR,NaN,"1,943.00",0,4
2,2023-12-04,ATM WDR AT 0569 19:09:54 5311990000091301/3102...,PKR,NaN,"5,000.00","1,286,387.05",12
3,2023-11-04,IBFT 11/04/2023 63939000000 ARIF NAWAZ 9234728...,PKR,"13,000.00",NaN,"1,291,387.05",11
4,2023-10-04,ATM WDR AT 0322 21:22:23 5311990000091301/7379,PKR,NaN,"5,000.00","1,278,387.05",10
5,2023-10-04,IBFT 10/04/2023 58943000000 ANJUMAN-E-BURHANI(...,PKR,NaN,"7,200.00","1,283,387.05",10
6,2023-10-04,IBFT 10/04/2023 58943000000 ANJUMAN E BURHANI ...,PKR,NaN,"30,000.00","1,290,587.05",10
7,2023-10-04,ATM WDR AT 0821 22:45:09 5311990000091301/2098...,PKR,NaN,"20,000.00","1,320,587.05",10
8,2023-07-04,FED/PST ON BANK CHARGES @ 13%,PKR,NaN,72,"1,340,587.05",7
9,2023-07-04,DD / PO CHARGES,PKR,NaN,550,"1,340,659.05",7
10,2023-07-04,DD4843078,PKR,NaN,"11,238.00","1,341,209.05",7
11,2023-05-04,DC TXN PKR 3051.00 ON 30/MAR PUNJAB CASH & CAR...,PKR,NaN,"3,051.00","1,352,447.05",5
12,2023-03-04,IBFT 03/04/2023 60373300000 HUZAIFA ZOAIB ALI ...,PKR,NaN,"3,630.00","1,355,498.05",3
13,2023-03-04,ATM WDR AT 0158 17:32:48 5311990000091301/3092...,PKR,NaN,"5,000.00","1,359,128.05",3
14,2023-01-04,IBANKING TRF TO 01718464501,PKR,NaN,"10,000.00","1,364,128.05",1
15,2023-01-04,IBFT 01/04/2023 63939000000 MUSTAFA MUSTAFA 03...,PKR,NaN,"3,000.00","1,374,128.05",1
16,2023-03-31,SALARY SB9999230331MH69- PKR0.000000000,PKR,"282,024.00",NaN,"1,377,128.05",3
17,2023-03-30,DC TXN PKR 800.00 ON 27/MAR PUNJAB CASH & CARR...,PKR,NaN,800,"1,095,104.05",3
18,2023-03-29,IBFT 29/03/2023 62719700000 AMATULLAH D/O KHOZ...,PKR,NaN,"20,000.00","1,095,904.05",3
19,2023-03-29,DC TXN PKR 1500.00 ON 25/MAR SAFEWAY ...,PKR,NaN,"1,500.00","1,115,904.05",3
20,2023-03-28,ATM WDR AT 0321 20:31:04 5311990000091301/0940,PKR,NaN,"5,000.00","1,117,404.05",3
21,2023-03-27,IBFT 27/03/2023 63939000000 MUHAMMAD ASIM SAEE...,PKR,NaN,"10,500.00","1,122,404.05",3
22,2023-03-27,IBFT 27/03/2023 588974 FATEMA 0401270309285,PKR,"20,000.00",NaN,"1,132,904.05",3
23,2023-03-27,IBFT 26/03/2023 62719700000 UMAIMA W/O ASGHAR ...,PKR,NaN,200,"1,112,904.05",3
24,2023-03-27,IBFT 26/03/2023 62719700000 UMAIMA W/O ASGHAR ...,PKR,NaN,"21,000.00","1,113,104.05",3
25,2023-03-27,ATM WDR AT 0321 06:39:35 5311990000091301/9133,PKR,NaN,"5,000.00","1,134,104.05",3
26,2023-03-22,DC TXN PKR 498.00 ON 19/MAR PUNJAB CASH & CARR...,PKR,NaN,498,"1,139,104.05",3
27,2023-03-22,DC TXN PKR 2185.00 ON 18/MAR PUNJAB CASH & CAR...,PKR,NaN,"2,185.00","1,139,602.05",3
28,2023-03-20,ATM WDR AT 0821 21:13:01 5311990000091301/9365...,PKR,NaN,"5,000.00","1,141,787.05",3
29,2023-03-17,DC TXN PKR 3784.00 ON 14/MAR PUNJAB CASH & CAR...,PKR,NaN,"3,784.00","1,146,787.05",3
30,2023-03-16,DC TXN PKR 1500.00 ON 12/MAR KHANJEE FILLING S...,PKR,NaN,"1,500.00","1,150,571.05",3
31,2023-03-15,FX DIF DC FED:RS.0005679.10:2023021 9:01717725501,PKR,NaN,0.62,"1,152,071.05",3
32,2023-03-15,DC TXN PKR 17585.00 ON 11/MAR AIRBLUE LIMITED ...,PKR,NaN,"17,585.00","1,152,071.67",3
33,2023-03-14,DC TXN PKR 14050.00 ON 08/MAR VIRTUAL UNIVERSI...,PKR,NaN,"14,050.00","1,169,656.67",3
34,2023-03-13,ATM WDR AT 0321 21:42:57 5311990000091301/1921,PKR,NaN,"10,000.00","1,183,706.67",3
35,2023-03-13,IBANKING TRF FROM 01718464501,PKR,"90,000.00",NaN,"1,193,706.67",3
36,2023-11-03,IBFT 11/03/2023 627873 MOHAMMAD SHAHAB KHAN/SH...,PKR,"12,000.00",NaN,"1,103,706.67",11
37,2023-11-03,IBFT 11/03/2023 627873 RIAZ AHMED 01180104765463,PKR,"10,000.00",NaN,"1,091,706.67",11
38,2023-10-03,IBFT 10/03/2023 627197 MUHAMMAD WASI UDDIN FAR...,PKR,"11,000.00",NaN,"1,081,706.67",10
39,2023-09-03,IBFT 09/03/2023 63939000000 ARIF NAWAZ 9234728...,PKR,"13,000.00",NaN,"1,070,706.67",9
40,2023-09-03,FX DIF DC TXN:RS.0005679.10:2023021 9:01717725501,PKR,NaN,140.77,"1,057,706.67",9
41,2023-08-03,PK-019-230308-154236156-034383-899 PK79BAHL104...,PKR,NaN,"20,000.00","1,057,847.44",8
42,2023-08-03,ATM WDR AT 0834 13:12:08 5311990000091301/0000...,PKR,NaN,"10,000.00","1,077,847.44",8
43,2023-08-03,DC TXN PKR 2016.00 ON 03/MAR PUNJAB CASH & CAR...,PKR,NaN,"2,016.00","1,087,847.44",8
44,2023-07-03,FX DIF DC FED:RS.0000031.05:2023021 1:01717725501,PKR,NaN,0.01,"1,089,863.44",7
45,2023-07-03,ATM WDR AT 0321 12:35:51 5311990000091301/6809,PKR,NaN,"30,000.00","1,089,863.45",7
46,2023-04-03,ATM WDR AT 0821 13:45:21 5311990000091301/7026...,PKR,NaN,"10,000.00","1,119,863.45",4
47,2023-04-03,DC TXN PKR 500.00 ON 01/MAR LEOPARDS COURIER-C...,PKR,NaN,500,"1,129,863.45",4
48,2023-03-03,ATM WDR AT 0158 17:15:28 5311990000091301/3062...,PKR,NaN,"5,000.00","1,130,363.45",3
49,2023-03-03,SALARY SB9999230303BL92- PKR0.000000000,PKR,"413,751.00",NaN,"1,135,363.45",3

In [24]:
byDate = df.groupby('Date')

TypeError: unsupported operand type(s) for -: 'Timestamp' and 'float'